extends layout

block content
  if user.tempPassword || user.interests.length < 3
    br
    .alert.alert-error
      h4 Important
      div You must select a
        strong  new password
        |  and add at least
        strong  three interests
        |  before proceeding!

  if user.suspendedAccount
    br
    .alert.alert-error
      h4 Your account has been suspended
      div You are given one last chance to clean up your account and comments, afterwards your account will be terminated.
  
  if user.suspendedRating
    br
    .alert
      h4 Marked as a suspected spammer
      div  Our system has detected that you are spammer. You are no longer able to rate games.
    
  form#registration.form-horizontal(method='post')
    br
    ul#interests
      for i in user.interests
        li= i

    legend Account Information
    .control-group
      label.control-label(for='userName') Username
      .controls
        input#userName(value=user.userName, name='userName', type='text', placeholder='Username', disabled='disabled')
    .control-group
      label.control-label(for='firstName') First Name
      .controls
        input#firstName(value=user.firstName, name='firstName', type='text', placeholder='First Name')
          
    .control-group
      label.control-label(for='lastName') Last Name
      .controls
        input#lastName(value=user.lastName, name='lastName', type='text', placeholder='Last Name')
    .control-group
      label.control-label(for='gamertag') Xbox Gamertag
      .controls
        input#gamertag(value=user.gamertag, name='gamertag', type='text', placeholder='Gamertag')
    .control-group
      label.control-label(for='userEmail') Email
      .controls
        input#userEmail(value=user.email, name='userEmail', type='text', placeholder='Email')
    .control-group
      label.control-label(for='newpassword') New Password
      .controls
        input#newpassword(name='newpassword', type='password', placeholder='New Password')
    .control-group
      label.control-label(for='newconfirm') Confirm Password
      .controls
        input#newconfirm(name='newconfirm', type='password', placeholder='Confirm Password')
    .control-group
      .controls
        button.btn.btn-primary.btn-large(type='submit') Update Profile

  legend Order History
  if user.purchasedGames.length > 0
    table.table.table-striped.table-condensed
      thead
        tr
          th Title
          th Purchase Date
        tbody
          for purchased in user.purchasedGames
            tr
              td
                a(href='/games/#{purchased.game.slug}') #{purchased.game.title}
              td #{new Date(purchased.date).toLocaleDateString()}