extends layout

block content
  legend Reported Comments
  table.table
      tbody
        for comment in flaggedComments
          tr(id='tr-#{comment.id}')
            td
              i.icon-comment
              |  Posted by
              strong  #{comment.creator.userName}
              |  under&nbsp;
              a(href='/games/#{comment.game.slug}') #{comment.game.title}
              br
              p
                blockquote= comment.body
              btn.btn.btn-small(id='ignore-#{comment.id}')
                i.icon.icon-ok-circle
                |  Ignore Report
              if !comment.hasBeenWarned
                btn.btn.btn-small.btn-warning(id='warn-#{comment.id}')
                  i.icon-flag.icon-white
                  |  Send Warning to User
              btn.btn.btn-small.btn-danger(id='delete-#{comment.id}')
                i.icon-trash.icon-white
                |  Delete Comment

              script(type='text/javascript')
                $('#ignore-#{comment.id}').click(function() {
                  $.post('/admin/comment/ignore', { commentId: '#{comment.id}' });
                  $('#tr-#{comment.id}').remove();
                  humane.log('Comment has been ignored');
                  return false;
                });

              script(type='text/javascript')
                $('#warn-#{comment.id}').click(function() {
                  $.post('/admin/comment/warn', { commentId: '#{comment.id}' });
                  $(this).remove();
                  humane.log('Warning has been sent to the user');
                  return false;
                });

              script(type='text/javascript')
                $('#delete-#{comment.id}').click(function() {
                   $.post('/admin/comment/delete', { commentId: '#{comment.id}' });
                   $('#tr-#{comment.id}').remove();
                   humane.log('Comment has been removed');
                   return false;
                 });

  legend List of Users
  table.table
    thead
      tr
        th Username
        th Rating Warnings
        th Comment Warnings
        th Status
      tbody
        for user in users
          if user.warningCount === 0 && flagCount === 0
            tr.success
              td #{user.userName}
              td #{flagCount}
              td #{user.warningCount}
              td OK

          if user.warningCount === 1
            tr.warning
              td #{user.userName}
              td #{flagCount}
              td #{user.warningCount}
              td Warning

          if user.warningCount > 1
            tr.error
              td #{user.userName}
              td #{flagCount}
              td #{user.warningCount}
              td
                | Suspended
                btn.btn.btn-primary.btn-mini Ignore

          if user.warningCount === 0 && (flagCount >= 5 && flagCount < 15)
            tr.warning
              td #{user.userName}
              td #{flagCount}
              td #{user.warningCount}
              td Suspected

          if user.warningCount === 0 && flagCount >= 15
            tr.error
              td #{user.userName}
              td #{flagCount} times
              td #{user.warningCount}
              td Spammer
