extends layout

block content
  legend Reported Comments
  table.table
    thead
      tr
        th Text
        th.span4 Game URL
        th.span2 Actions
      tbody
        for comment in flaggedComments
          tr(id='tr-#{comment.id}')
            td #{comment.body}
            td
              a(href='/games/#{comment.game.slug}') #{comment.game.title}
            td
              btn.btn.btn-small(id='ignore-#{comment.id}') Ignore
              btn.btn.btn-small.btn-danger(id='delete-#{comment.id}') Delete
              // notify user on delete
              script(type='text/javascript')
                $('#delete-#{comment.id}').click(function() {
                  console.log('clicked on delete');
                  $.post('/comment/delete', { commentId: '#{comment.id}' });
                  $('#tr-#{comment.id}').remove();
                  humane.log('Comment has been removed');
                  return false;
                });

                $('#ignore-#{comment.id}').click(function() {
                  console.log('clicked on ignore');
                  $.post('/comment/ignore', { commentId: '#{comment.id}' });
                  $('#tr-#{comment.id}').remove();
                  humane.log('Comment has been ignored');
                  return false;
                });




  legend List of Users
  table.table.table-striped
    tbody
      for usr in users
        tr
          td
            p #{usr.userName}
          td
            p #{usr.firstName}
  btn.btn.btn-primary Send message to user
  btn.btn.btn-danger Delete User

