extends layout

block content
  br
  div.hero-unit
    h2 Listing Overview
    p
      strong Price:
      |  #{game.price}
      br
      strong Rating:&nbsp;
      span(id='_' + game.slug)
      span(id='votes', name='votes')
        |  (#{game.votes} votes)
      br
      strong Comments:
      |  #{comments.length}

    if user.userName
      p
        button.btn.btn-primary.btn-large(id='price-#{game.slug}', href='#modal-#{game.slug}', role='button', data-toggle='modal')
          i.icon-shopping-cart.icon-white
          |  Buy Now
        if user.purchasedGames
          if user.purchasedGames.length > 0
            for mygame in user.purchasedGames
              if mygame.slug == game.slug
                script(type='text/javascript')
                  $('#price-#{game.slug}').removeAttr('href');
                            $('#price-#{game.slug}').html('<i class="icon-shopping-cart icon-white"></i> Purchased');

    script(type='text/javascript')
      $('#_#{game.slug}').raty({
        path: '/img/',
        round: { down: .25, full: .6, up: .76 },
        score: #{game.rating}/#{game.votes},
        readOnly: true,
        click: function (score, event) {
          var self = this;
          $.meow({
            message: 'Thanks for voting. Your rating has been recorded.',
            icon: 'http://png-3.findicons.com/files/icons/1577/danish_royalty_free/32/smiley.png'
          });

          $.ajax({
            type: 'POST',
            url: '/games/rating',
            data: {
              slug: $(self).attr('id').slice(1),
              rating: score
            },
            success: function () {
              console.log('setting to read-only');
              $(self).raty('readOnly', true);

            }
          });
        }
      });
  h3 Product Summary
  if user.userName
    != game.summary
  else
    .alert
        strong Login Required
        br
        Please Please sign-in to view detailed game description and screenshots.
  hr
  .alert.alert-success
    h4 Recommended Games
    div Our recommendation engine has picked the following games that you may also enjoy.
  table.table
      tbody
        for similarGame in similarGames
          tr
            td.span1
              img.img-polaroid(src='/img/games/#{similarGame.thumbnail}')
            td
              a(href='/games/#{similarGame.slug}')
                strong #{similarGame.title}
              div
                span(id='_' + similarGame.slug)
                span(id='votes', name='votes')
                  small  (#{similarGame.votes} votes)
              script(type='text/javascript')
                $('#_#{similarGame.slug}').raty({
                  path: '/img/',
                  round: { down: .25, full: .6, up: .76 },
                  score: #{similarGame.rating}/#{similarGame.votes},
                  space: false,
                  readOnly: true,
                });
              div
                small.muted Release Date: #{similarGame.releaseDate} | Genre: #{similarGame.genre}

  .alert.alert-info
    if comments.length == 1
      h4 #{comments.length} Comment
    else
      h4 #{comments.length} Comments
    div Feel free to leave a comment below about the game. We only ask you to be civil.

  for comment in comments
    table(id='table-#{comment._id}')
      tbody
        tr
          td.left-table-border(rowspan=4)
          td
            | By&nbsp;
            if comment.creator
              strong #{comment.creator.firstName} #{comment.creator.lastName}
            else
              strong User That No Longer Exists
        tr
          td
            small.muted #{comment.date.toLocaleDateString()}
        tr
          td
            p= comment.body
        tr
          td
            div#result

            

              if comment.creator
                if comment.creator.userName == user.userName
                  a.btn.btn-mini(href='#', id=comment._id)
                    i.icon-trash
                    |  Delete
                else if user.isAdmin
                  .btn-group
                    a.btn.btn-mini(href='#', id='report-#{comment._id}')
                      i.icon-flag
                      |  Report
                    a.btn.btn-mini(href='#', id=comment._id)
                      i.icon-trash
                      |  Delete
                else
                  a.btn.btn-mini(href='#', id='report-#{comment._id}')
                    i.icon-flag
                    |  Report


              else
                .btn-group
                  a.btn.btn-mini(href='#', id='report-#{comment._id}')
                    i.icon-flag
                    |  Report


    script(type='text/javascript')
      $('##{comment._id}').click(function() {
        console.log('clicked on delete');
        $.post('/comment/delete', { commentId: '#{comment._id}' });
        $('#table-#{comment.id}').remove();
        $('#hr-#{comment.id}').remove();
        humane.log('Comment removed');
        return false;
      });

      $('#report-#{comment._id}').click(function() {
        console.log('clicked on report');
        $.post('/comment/report', { comment_id: '#{comment._id}' });
        humane.log('Comment has been reported');
        return false;
      });

    hr(id='hr-#{comment._id}');

  if typeof(user.userName) == 'undefined'
    .alert
      strong Login Required
      div Please sign-in to leave a comment.
  else if user.suspendedAccount
    .alert
      strong Account Suspended
      div You are not able to leave comments anymore.
  else
    i.icon-list-alt
    span.lead
      small  comment box
    form#comment(method='post')
      .controls
        textarea#comment.span5(rows=5, name='comment', maxlength=2000)
      .controls
        button.btn.btn-primary(type='submit')
          i.icon-comment.icon-white
          |  Leave Comment

  .modal.hide.fade(id='modal-#{game.slug}', tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-header
      span.lead Game Checkout
        img.pull-right(src='/img/new_visa_medium.gif')
    .modal-body
      label
        i.icon-user
        |  Name on Card
      input.input-medium(type='text')
      label
        i.icon-barcode
        |  Card Number
      input.input-medium(type='text', placeholder='•••• •••• •••• ••••', maxlength=16)

      label
        i.icon-time
        |  Expiration Date
      input.input-mini(type='text', placeholder='MMYY', maxlength=4)
      label
        i.icon-qrcode
        |  Card Code
      input.input-mini(type='text', placeholder='CVC', maxlength=4)
    .modal-footer
      button.btn(data-dismiss='modal', aria-hidden='true') Cancel
      button.btn.btn-primary(id='#{game.slug}') Buy

  script(type='text/javascript')
    $('##{game.slug}').click(function() {
      var game = this;
      $.ajax({
        type: 'post',
        url: '/buy',
        data:  {
          slug: $(game).attr('id')
        }
      }).success(function () {
        $('#price-#{game.slug}').attr('disabled', 'true');
        $('#modal-' + $(game).attr('id')).modal('hide');
        humane.log('Your order has been submitted!');
      });
    });
