extends layout

block content

  table.table
      thead
          tr
            th A-Z
        tbody
          for game in games
            tr
              td.span2
                img.img-polaroid(src=game.thumbnail)
              td
                a(href='/games/#{game.slug}')
                  strong
                    = game.title
                button.btn.btn-primary.btn-mini(id=game.slug)
                  i.icon-shopping-cart.icon-white
                  | &nbsp;
                  = game.price
                div(id='_'+game.slug)
                div
                  small.muted
                    div #{game.releaseDate} | #{game.publisher}
                    div #{game.genre}
                p
                  =game.description

            script(type='text/javascript')
              $('#_#{game.slug}').raty({
                half: true,
                round : { down: .25, full: .6, up: .76 },
                score: #{game.rating},
                click: function (score, event) {
                  var self = this;
                  console.log($(self).attr('id'), score);

                  $.ajax({
                  type: 'POST',
                  url: '/games/rating',
                  data: {
                    slug: $(self).attr('id').slice(1),
                    rating: score
                  }
                  }).done(function () {
                    console.log('Done!');
                  });
                }
              });

            script(type='text/javascript')
              $('##{game.slug}').click(function() {
                var game = this;
                $(game).removeClass('btn-primary').text('Confirm Purchase').addClass('btn-success');
                $(game).unbind('click');
                $(game).click(function() {
                  $.ajax({
                    type: 'POST',
                    url: '/buy',
                    data: {
                      title: $(game).attr('id')
                    }
                  }).done(function() {
                      $(game).attr('disabled', 'true');
                      $(game).removeClass('btn-success').html('<i class="icon-shopping-cart icon-white"></i> Purchased').addClass('btn-primary disabled');
                    });

                });
              });

          tr
            td
              img.img-polaroid(src='/games/img/wow.jpeg')
            td
              a(href='#')
                strong World of Warcraft
              button.btn.btn-primary.btn-mini.disabled
                i.icon-shopping-cart.icon-white
                |  Purchased

              div
                i.icon-star
              div
                small.muted Release Date: Nov 23, 2004 | Genre: Fantasy Online Role-Playing
              div Here is the online role-playing game you should play, no matter who you are.

            tr
              td
                img.img-polaroid(src='/games/img/lol.jpeg')
              td
                a(href='#')
                  strong League of Legends
                button.btn.btn-primary.btn-mini
                  i.icon-shopping-cart.icon-white
                  |  $29.99
                div
                  strong
                    small Recommendations:
                      |  18
                div
                  small.muted Release Date: Oct 27, 2009 | Genre: MOBA
                p League of Legends combines elements of role-playing and strategy genres with addictive battle action that brings accessible, replayable and competitive gameplay into a whimsical universe that deepens with the player's commitment.

