extends layout

block content

  table.table
      thead
          tr
            th A-Z
        tbody
          - for (var i = 0; i < 2; i++) {
            tr
              td.span2
                img.img-polaroid(src='/games/img/#{games[i].slug}.jpeg')
              td
                a(href='#')
                  strong
                    =games[i].title
                button.btn.btn-primary.btn-mini(id=games[i].slug)
                  i.icon-shopping-cart.icon-white
                  |  $59.99
                div(id='raty_'+games[i].slug)
                div
                  small.muted Release Date:&nbsp;
                    = games[i].releaseDate
                    |  | Genre::&nbsp;
                    = games[i].genre
                p
                  =games[i].summary

            script(type='text/javascript')
              $('#raty_#{games[i].slug}').raty({
                score: #{games[i].rating}
              });

            script(type='text/javascript')
              $('.#{games[i].slug}').click(function() {
                var game = this;
                $(game).removeClass('btn-primary').text('Confirm Purchase').addClass('btn-success');
                $(game).unbind('click');
                $(game).click(function() {
                  $.ajax({
                    type: 'POST',
                    url: '/buy',
                    data: {
                      title: $(game).attr('id')
                    }
                  }).done(function() {
                      $(game).attr('disabled', 'true');
                      $(game).removeClass('btn-success').html('<i class="icon-shopping-cart icon-white"></i> Purchased').addClass('btn-primary disabled');
                    });

                });
              });
          - }

          tr
            td
              img.img-polaroid(src='/games/img/wow.jpeg')
            td
              a(href='#')
                strong World of Warcraft
              button.btn.btn-primary.btn-mini.disabled
                i.icon-shopping-cart.icon-white
                |  Purchased

              div
                i.icon-star
              div
                small.muted Release Date: Nov 23, 2004 | Genre: Fantasy Online Role-Playing
              div Here is the online role-playing game you should play, no matter who you are.

            tr
              td
                img.img-polaroid(src='/games/img/lol.jpeg')
              td
                a(href='#')
                  strong League of Legends
                button.btn.btn-primary.btn-mini
                  i.icon-shopping-cart.icon-white
                  |  $29.99
                div
                  strong
                    small Recommendations:
                      |  18
                div
                  small.muted Release Date: Oct 27, 2009 | Genre: MOBA
                p League of Legends combines elements of role-playing and strategy genres with addictive battle action that brings accessible, replayable and competitive gameplay into a whimsical universe that deepens with the player's commitment.

