extends layout

block content
  br
  ul.nav.nav-pills
    if heading === 'Top 25'
      li.active
        a(href='/games') Top 25
    else
      li
        a(href='/games') Top 25

    if heading === 'Action'
      li.active
        a(href='/games/genre/action') Action
    else
      li
        a(href='/games/genre/action') Action

    if heading === 'Adventure'
      li.active
        a(href='/games/genre/adventure') Adventure
    else
      li
        a(href='/games/genre/adventure') Adventure

    if heading === 'Driving'
      li.active
        a(href='/games/genre/driving') Driving
    else
      li
        a(href='/games/genre/driving') Driving

    if heading === 'Puzzle'
      li.active
        a(href='/games/genre/puzzle') Puzzle
    else
      li
        a(href='/games/genre/puzzle') Puzzle

    if heading === 'Role-Playing'
      li.active
        a(href='/games/genre/role-playing') Role-Playing
    else
      li
        a(href='/games/genre/role-playing') Role-Playing

    if heading === 'Simulation'
      li.active
        a(href='/games/genre/simulation') Simulation
    else
      li
        a(href='/games/genre/simulation') Simulation

    if heading === 'Strategy'
      li.active
        a(href='/games/genre/strategy') Strategy
    else
      li
        a(href='/games/genre/strategy') Strategy

    if heading === 'Sports'
      li.active
        a(href='/games/genre/sports') Sports
    else
      li
        a(href='/games/genre/sports') Sports

  if games.length == 0
    .alert.alert-warning
      | Database query returned no results.
  else
    table.table
      tbody
        for game in games
          tr
            td.span2
              // game thumbnail
              a(href='/games/#{game.slug}')
                img.img-polaroid.small-img(src='/img/games/#{game.largeImage}')
            td
              // game title
              a(href='/games/#{game.slug}')
                strong #{game.title}

              if user.userName
                // buy button - user already purchased the game
                - purchaseFlag = false
                if user.purchasedGames && user.purchasedGames.length > 0
                  for purchased in user.purchasedGames
                    if purchased.game.slug == game.slug
                      button.btn.btn-primary.btn-mini
                        i.icon-shopping-cart.icon-white
                        span  Purchased
                        - purchaseFlag = true
                // buy button - user hasn't purchased the game
                if !purchaseFlag
                  button.btn.btn-primary.btn-mini(id='buy-#{game.slug}', data-game-title=game.title, class='buy', role='button', data-toggle='modal')
                    i.icon-shopping-cart.icon-white
                    =  game.price

              div
                // check if user has already voted for this game
                - voted = 'No'
                if user.userName && game.votedPeople.length > 0
                  for voter in game.votedPeople
                    if voter == user.userName
                      - voted = 'Yes'

                // check if user is suspended
                - suspended = 'No'
                if user.userName
                  if user.suspendedRating
                    - suspended = 'Yes'

                // game rating
                - ratingAvg = Math.ceil(game.rating/game.votes * 100) / 100 || 0
                span(class='stars', id='rating-#{game.slug}', data-rating=ratingAvg, data-user=user.userName, data-voted=voted, data-suspended=suspended)
                span  #{ratingAvg} (#{game.votes} votes)

              // game information
              div
                small.muted
                  div #{game.releaseDate} | #{game.publisher}
                  div #{game.genre}

              // game description
              p #{game.description}
  include buy