extends layout
block content
  .row
    for game in games
      .span4
        h4= game.title
        p
          img.img-polaroid.large(src=game.largeImage)
        span(id='_' + game.slug)
        span(id='votes', name='votes')
          |  (#{game.votes})
        p
          = game.description
        p
          a.btn(href='/games/#{game.slug}') View details »

        script(type='text/javascript')
          $('#_#{game.slug}').raty({
            round : { down: .25, full: .6, up: .76 },
            score: #{game.rating}/#{game.votes},
            click: function (score, event) {
              var self = this;
              $.meow({
                message: 'Thanks for voting. Your rating has been recorded.',
                icon: 'http://png-3.findicons.com/files/icons/1577/danish_royalty_free/32/smiley.png'
              });

              $.ajax({
                type: 'POST',
                url: '/games/rating',
                data: {
                  slug: $(self).attr('id').slice(1),
                  rating: score
                },
                success: function () {
                  console.log('setting to read-only');
                  $(self).raty('readOnly', true);

                }
              });
            }
          });