extends layout
block content
  .page-header
    p.lead#welcome
      if user.firstName
        strong Welcome #{user.firstName},
        small  here's the top 6 recommended games for you
        br
        small.muted How it works:
        small
          |  3 games are based on your interests, and 3 games are
          | based on rated & purchased games of similar users
      else
        strong Welcome Visitor,
        small  here's the top 3 most popular games for you
  
  .row
    // user is logged in
    if user.userName
      // if user hasn't entered any interests, although he shouldn't even be on this page
      if recommendedGames.length == 0
        .alert.alert-warning
          div Database query returned no results that match your interests.
      else
        // otherwise user has purchased at least 3 games so display 3 games
        // based on interest and 3 games based on purchased games
        for game in recommendedGames
          .span2
            a(href='/games/#{game.slug}', id="tooltip-#{game.slug}",rel='tooltip', title='YouTube Preview')
              img.img-polaroid.medium(src='/img/games/#{game.largeImage}')
            if game.youtube
              script(type='text/javascript')
                $("#tooltip-#{game.slug}").tooltip({
                  html: true,
                  content: '<iframe width="560" height="315" src="http://www.youtube.com/embed/#{game.youtube}?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>'
                });
            br
            strong
              a(href='/games/#{game.slug}') #{game.title}
            div
              span(id='_' + game.slug)
              span(id='votes', name='votes')
                small  (#{game.votes})
              br
              strong #{game.price}
              script(type='text/javascript')
                $('#_#{game.slug}').raty({
                  path: '/img',
                  round : { down: .25, full: .6, up: .76 },
                  score: #{game.rating}/#{game.votes},
                  readOnly: true,
                });
    else
      if games.length == 0
        .alert.alert-warning
          | Database query returned no results.
      else
        for game in games
          .span4
            a(href='/games/#{game.slug}', id="tooltip-#{game.slug}",rel='tooltip', title='YouTube Preview')
              img.img-polaroid.large(src='/img/games/#{game.largeImage}')
            if game.youtube
              script(type='text/javascript')
                $("#tooltip-#{game.slug}").tooltip({
                  html: true,
                  content: '<iframe width="560" height="315" src="http://www.youtube.com/embed/#{game.youtube}?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>'
                });
            h4
              a(href='/games/#{game.slug}') #{game.title}
            span(id='_' + game.slug)
            span(id='votes', name='votes')
              |  (#{game.votes})
            br
            h4 #{game.price}
            script(type='text/javascript')
              $('#_#{game.slug}').raty({
                round : { down: .25, full: .6, up: .76 },
                score: #{game.rating}/#{game.votes},
                readOnly: true,
              });
