extends layout

block content
  form#registration.form-horizontal(method='post')
    br
    if typeof(tempPassword) != 'undefined'
      .alert.alert-danger
        h4 Important Announcement
        div You must change your password before continuing!

    .alert.alert-success
      h4 Getting Started
      div Before you proceed our recommendation engine requires that you input three or more game interests.
    legend Game Information
    .control-group
      .controls
    ul#interests
      for i in user.interests
        li= i

    legend Account Information
    .control-group
      label.control-label(for='userEmail') Email
      .controls
        input#userEmail(value=user.email, name='userEmail', type='text', placeholder='Email', disabled='disabled')
    .control-group
      label.control-label(for='firstName') First Name
      .controls
        input#firstName(value=user.firstName, name='firstName', type='text', placeholder='First Name')
    .control-group
      label.control-label(for='lastName') Last Name
      .controls
        input#lastName(value=user.lastName, name='lastName', type='text', placeholder='Last Name')
    .control-group
      label.control-label(for='newpassword') New Password
      .controls
        input#newpassword(name='newpassword', type='password', placeholder='New Password')
    .control-group
      label.control-label(for='newconfirm') Confirm Password
      .controls
        input#newconfirm(name='newconfirm', type='password', placeholder='Confirm Password')
    .control-group
      .controls
        button.btn.btn-large.btn-primary(type='submit') Update

  legend Order History
  if user.purchasedGames.length > 0
    table.table.table-condensed
      thead
        tr
          th Title
          th Purchase Date
          th Your Rating
        tbody
          for game in user.purchasedGames
            tr
              td
                a(href='/games/#{game.slug}') #{game.title}
              td #{game.date.toDateString()}
              td
                if game.rating == 0
                  | You haven't rated this game yet
                else
                  div(id='_'+game.slug)
                  script(type='text/javascript')
                    $('#_#{game.slug}').raty({
                      round : { down: .25, full: .6, up: .76 },
                      score: #{game.rating},
                      readOnly: true,
                      path: '/img/'
                    });
  else
    .alert.alert-info You haven't purchased anything yet.


  script(type='text/javascript')
    var tags = '#{tags}'.split(',');

    $("#interests").tagit({
      allowSpaces: true,
      availableTags: tags,
      onTagRemoved: function (event, tag) {
        var tempTag = $(tag).text();
        var myTag = tempTag.substring(0, tempTag.length-1);
        $.post('/account/tags/remove', { removedTag: myTag });
      }
    });

    $("button[type=submit]").click(function () {
      $.post('/account/api', { tags: $('#interests').tagit('assignedTags') }, function (data) {
        alert("Data loaded: " + data);
      });
    });


