extends layout

block content
  if tempPassword
    br
    .alert.alert-danger
      strong Important Announcement
      div You must change your password before continuing!

  form#registration.form-horizontal(method='post')
    br
    div.lead#getting-started Type your interests below to get started...
    ul#interests
      for i in interests
        li= i
    legend Account Information
    .control-group
      label.control-label(for='userName') Username
      .controls
        input#userName(value=user.userName, name='userName', type='text', placeholder='Username', disabled='disabled')
    .control-group
      label.control-label(for='firstName') First Name
      .controls
        input#firstName(value=user.firstName, name='firstName', type='text', placeholder='First Name')
    .control-group
      label.control-label(for='lastName') Last Name
      .controls
        input#lastName(value=user.lastName, name='lastName', type='text', placeholder='Last Name')
    .control-group
      label.control-label(for='userEmail') Email
      .controls
        input#userEmail(value=user.email, name='userEmail', type='text', placeholder='Email')
    .control-group
      label.control-label(for='newpassword') New Password
      .controls
        input#newpassword(name='newpassword', type='password', placeholder='New Password')
    .control-group
      label.control-label(for='newconfirm') Confirm Password
      .controls
        input#newconfirm(name='newconfirm', type='password', placeholder='Confirm Password')
    .control-group
      .controls
        button.btn.btn-primary.btn-large(type='submit') Update Profile

  legend Order History
  if user.purchasedGames.length > 0
    table.table.table-condensed
      thead
        tr
          th Title
          th Purchase Date
          th Your Rating
        tbody
          for game in user.purchasedGames
            tr
              td
                a(href='/games/#{game.slug}') #{game.title}
              td #{game.date.toDateString()}
              td
                if game.rating == 0
                  | You haven't rated this game yet
                else
                  div(id='_'+game.slug)
                  script(type='text/javascript')
                    $('#_#{game.slug}').raty({
                      round : { down: .25, full: .6, up: .76 },
                      score: #{game.rating},
                      readOnly: true,
                      path: '/img/'
                    });
  else
    .alert.alert-info You haven't purchased anything yet.


  script(type='text/javascript')
    var tagCount;
    if ($('#interests li').length == 0) {
      tagCount = 0;
    } else {
      tagCount = $('#interests li').length - 1;
    }

    $("#interests").tagit({
      allowSpaces: true,
      availableTags: "#{tags}".split(','),
      onTagRemoved: function (event, tag) {
        var tagCount = $('#interests li').length - 1;
        tagCount--;
        if (tagCount < 0) {
          tagCount = 0;
        }
        if (tagCount == 0) {
          $('#getting-started').fadeOut(200, function() {
            $(this).text('Type your interests below to get started...').fadeIn(200);
          });
        }
        if (tagCount == 1) {
          $('#getting-started').fadeOut(200, function() {
            $(this).text('We need two more interests.').fadeIn(200);
          });
        }
        if (tagCount == 2) {
          $('#getting-started').fadeOut(200, function() {
            $(this).text('One more interest.').fadeIn(200);
          });
        }
        if (tagCount == 3) {
          $('#getting-started').fadeOut(200, function() {
            $(this).text('Thanks! Please feel free to add more interests if you wish.').fadeIn(200);
          });
        }
        if (tagCount > 3) {
          $('#getting-started').hide();
        }
        var tempTag = $(tag).text();
        var myTag = tempTag.substring(0, tempTag.length-1);
        $.post('/account/tags/remove', { removedTag: myTag });
      },
      onTagAdded: function (event, tag) {
        tagCount++;
        if (tagCount == 0) {
          $('#getting-started').fadeOut(200, function() {
            $(this).text('Type your interests below to get started...').fadeIn(200);
          });
        }
        if (tagCount == 1) {
          $('#getting-started').fadeOut(200, function() {
            $(this).text('We need two more interests.').fadeIn(200);
          });
        }
        if (tagCount == 2) {
          $('#getting-started').fadeOut(200, function() {
            $(this).text('One more interest.').fadeIn(200);
          });
        }
        if (tagCount == 3) {
          $('#getting-started').fadeOut(200, function() {
            $(this).text('Thanks! Please feel free to add more interests if you wish.').fadeIn(200);
          });
        }
        if (tagCount > 3) {
          $('#getting-started').hide();
        }
      }
    });

    $("button[type=submit]").click(function () {
      $.post('/account/tags/add', { tags: $('#interests').tagit('assignedTags') }, function (data) {
        console.log("Data loaded: " + data);
      });
    });






