extends layout

block content
  br
  .row
    .span3.pagination-centered
      if userProfile.gamertag && xbox
        span.lead
          strong#xbox-gamertag #{xbox.Gamertag}
        .lead
          img(src='/img/gamerscore.png')      
          small  #{xbox.Gamerscore}
        img(src='#{xbox.Pictures.FullBody}')
      else
        img.img-rounded(src='/img/anonymous_avatar.gif')
      br
      span.lead 
        strong #{userProfile.firstName} #{userProfile.lastName}
      br
      span.lead.muted
        small #{userProfile.userName}
      hr
      p
        i.icon-time
        span.muted  Joined on
        - var firstComma = userProfile.joined_on.toLocaleDateString().indexOf(',')
        span  #{userProfile.joined_on.toLocaleDateString().substr(firstComma + 1)}
    .span9

      if userProfile.gamertag && xbox == false
        .alert
          strong Problem with an Xbox gamertag Information
          div Due to a possible network connection error, we were unable to retrieve your Xbox Live gamertag information.
          div Try refreshing a page in a few moments to see if that will remedy the problem.

      legend My Profile
      ul#tabs
        li
          a(href='#', name='#tab1')
            i.icon-tags.icon-white
            |  My Interests
        li
          a(href='#', name='#tab2')
            i.icon-shopping-cart.icon-white
            |  Purchased Games
      #content
        #tab1
          ul.nav.nav-pills
            for interest in userProfile.interests
              li.active
                a 
                  i.icon-tag.icon-white
                  span &nbsp;#{interest}
        #tab2
          if userProfile.purchasedGames.length > 0
            ul.thumbnails
              for purchasedGame in userProfile.purchasedGames
                li.span1
                  a.thumbnail(href='/games/#{purchasedGame.game.slug}')
                    img(src='/img/games/#{purchasedGame.game.largeImage}')
          else
            .alert
              strong No Purchased Games
              div You haven't purchased any games yet. Go to a Games tab to purchase a game.

    
      legend Xbox Live Achievements
      if userProfile.gamertag && xbox
        for lastPlayedGame in xbox.LastPlayed
          table.table.table-condensed
            tbody
              tr.info
                td(colspan='2')
                  img.pull-left(src='#{lastPlayedGame.Pictures.Tile32px}')
                  span.lead &nbsp;#{lastPlayedGame.Title}
              tr
                td
                  i.icon-th-large
                  |  Game Score: #{lastPlayedGame.EarnedGamerscore}
                td 
                  i.icon-ok
                  |  Achievements: #{lastPlayedGame.EarnedAchievements}
              tr
                td 
                  i.icon-th
                  |  Available Game Score: #{lastPlayedGame.AvailableGamerscore}
                td 
                  i.icon-star
                  |  Total Achievements: #{lastPlayedGame.AvailableAchievements}
              tr
                td(colspan='2') 
                  i.icon-ok-circle
                  strong  Completed: #{lastPlayedGame.PercentageComplete}
                  .progress.progress-success.active.progress-striped
                    .bar(style='width: #{lastPlayedGame.PercentageComplete};')
      else
        .alert.alert-info
          strong Gamertag Required
          div Add Gamertag on the account page to view your last played game achievements on Xbox Live.

                
      script(type='text/javascript')
        function resetTabs(){
            $("#content > div").hide(); //Hide all content
            $("#tabs a").attr("id",""); //Reset id's      
        }

        var myUrl = window.location.href; //get URL
        var myUrlTab = myUrl.substring(myUrl.indexOf("#")); // For localhost/tabs.html#tab2, myUrlTab = #tab2     
        var myUrlTabName = myUrlTab.substring(0,4); // For the above example, myUrlTabName = #tab

        (function(){
            $("#content > div").hide(); // Initially hide all content
            $("#tabs li:first a").attr("id","current"); // Activate first tab
            $("#content > div:first").fadeIn(); // Show first tab content
            
            $("#tabs a").on("click",function(e) {
                e.preventDefault();
                if ($(this).attr("id") == "current"){ //detection for current tab
                 return       
                }
                else{             
                resetTabs();
                $(this).attr("id","current"); // Activate this
                $($(this).attr('name')).fadeIn(); // Show content for current tab
                }
            });

            for (i = 1; i <= $("#tabs li").length; i++) {
              if (myUrlTab == myUrlTabName + i) {
                  resetTabs();
                  $("a[name='"+myUrlTab+"']").attr("id","current"); // Activate url tab
                  $(myUrlTab).fadeIn(); // Show url tab content        
              }
            }
        })()
