extends layout

block content
  br
  .row
    .span3.pagination-centered
      span.lead
        img(src='/img/gamerscore.png')      
        small  2035
      br
      img(src='#{xbox.Pictures.FullBody}')
      br
      span.lead 
        strong #{user.firstName} #{user.lastName}
      br
      span.lead.muted
        small #{user.userName}
      hr
      p
        i.icon-time
        span.muted  Joined on
        span  #{user.joined_on.toLocaleDateString().substr(8)}
    .span9
      legend My Profile
      ul#tabs
        li
          a(href='#', name='#tab1') My Interests
        li
          a(href='#', name='#tab2') Purchased Games
      #content
        #tab1
          ul.nav.nav-pills
            for interest in user.interests
              li.active
                a 
                  i.icon-tag.icon-white
                  span &nbsp;#{interest}
        #tab2
          ul.thumbnails
            for purchasedGame in user.purchasedGames
              li.span1
                a.thumbnail(href='/games/#{purchasedGame.slug}') 
                  img(src='/img/games/#{purchasedGame.thumbnail}')
    
      legend Xbox Live Achievements
      for lastPlayedGame in xbox.LastPlayed
        table.table.table-condensed
          tbody
            tr.info
              td(colspan='2')
                img.pull-left(src='#{lastPlayedGame.Pictures.Tile32px}')
                span.lead &nbsp;#{lastPlayedGame.Title}
            tr
              td Game Score: #{lastPlayedGame.EarnedGamerscore}
              td Achievements: #{lastPlayedGame.EarnedAchievements}
            tr
              td Available Game Score: #{lastPlayedGame.AvailableGamerscore}
              td Total Achievements: #{lastPlayedGame.AvailableAchievements}
            tr
              td(colspan='2') 
                strong Percentage Complete: #{lastPlayedGame.PercentageComplete}
                .progress.progress-success.active.progress-striped
                  .bar(style='width: #{lastPlayedGame.PercentageComplete};')

                
      script(type='text/javascript')
        function resetTabs(){
            $("#content > div").hide(); //Hide all content
            $("#tabs a").attr("id",""); //Reset id's      
        }

        var myUrl = window.location.href; //get URL
        var myUrlTab = myUrl.substring(myUrl.indexOf("#")); // For localhost/tabs.html#tab2, myUrlTab = #tab2     
        var myUrlTabName = myUrlTab.substring(0,4); // For the above example, myUrlTabName = #tab

        (function(){
            $("#content > div").hide(); // Initially hide all content
            $("#tabs li:first a").attr("id","current"); // Activate first tab
            $("#content > div:first").fadeIn(); // Show first tab content
            
            $("#tabs a").on("click",function(e) {
                e.preventDefault();
                if ($(this).attr("id") == "current"){ //detection for current tab
                 return       
                }
                else{             
                resetTabs();
                $(this).attr("id","current"); // Activate this
                $($(this).attr('name')).fadeIn(); // Show content for current tab
                }
            });

            for (i = 1; i <= $("#tabs li").length; i++) {
              if (myUrlTab == myUrlTabName + i) {
                  resetTabs();
                  $("a[name='"+myUrlTab+"']").attr("id","current"); // Activate url tab
                  $(myUrlTab).fadeIn(); // Show url tab content        
              }
            }
        })()
